* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #0e0008;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  color: aliceblue;
}
.header--left {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 0 0 80px;
  padding: 0 0 0 90px;
  position: sticky;
}
.header-text {
  padding-top: 90px;
  text-align: left;
}
.header-text h1 {
  font-size: 70px;
}
.text_dev {
  font-size: 35px;
  padding-bottom: 15px;
}
.text_exp {
  font-size: 20px;
  padding-bottom: 70px;
}
.header-buttons {
  padding-bottom: 50px;
}
.buttons-container li {
  list-style-type: none;
  padding-bottom: 10px;
}
a {
  text-decoration: none;
  color: inherit;
}
footer svg {
  width: 50px;
  background-size: auto;
}
.main {
  margin: 0 80px 0 0;
  padding: 0 90px 0 0;
}
.main-text {
  padding-top: 100px;
  padding-bottom: 100px;
}
.main-cards_container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr;
  padding-bottom: 50px;
}
.main-cards_container img {
  width: 150px;
}
